<!DOCTYPE html>
 <head>
    <title>Exodus</title>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
    

    <link rel="stylesheet" media="all" href="/assets/application-7ed561fa5f66283ead930b17237901261569b728480155d68365780366ba5d17.css" data-turbolinks-track="reload" />
    <script src="/assets/application-48aacb37c8280115591fac4a2236d9e9d28306c17adb5f7fa3763acdf6680b8d.js" data-turbolinks-track="reload"></script>
  </head>
<center>
	<br><br>
<h3>PROMISES MADE | PROMISES DELIVERED</h3>
<%=image_tag("helper1.jpg", alt: "short",class: "img-fluid") %>
<%=image_tag("helper2.jpg", alt: "short", class: "img-fluid" )%>

</center>