<center>
	<br><br>
<h3>PROMISES MADE | PROMISES DELIVERED</h3>
<br>
<%=image_tag("under.png", alt: "short", :size => "1200x700") %>
<%#=image_tag("helper2.jpg", alt: "short") %>
<!-- <img src="/assets/helper1.jpg"/><img src="/assets/helper2.jpg"/> -->
</center>